<html>
<head>
<title>Page Test</title>
</head>
<body>
<h1><?php echo ucwords('hello world!'); ?>!</h1><br/>

<hr/>
ip address: <%= node['ipaddress'] %><br/>
hostname: <%= node['hostname'] %><br/>
memory: <%= node['memory']['total'] %><br/>
platform: <%= node['platform'] %><br/>
parameter: <%=@ipaddress%>
</body>
</html>
